body{
    font-family: 'Poppins', sans-serif; 
    margin: 0;
}
section{
    padding:15px 0px;
}
.top-banar{
    height: 500px;
    border: 1px solid red;
    background-image: url("images\top-banner.png");
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
}
.name-heighlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.link-btn{
    text-decoration: none;
    background-color: #ff4500;
    background-image: linear-gradient(45deg, #1100ff,#ff4500);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}