body{
    font-family: 'Poppins', sans-serif; 
    margin: 0;
}
section{
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 10px;
}
.top-banar{
    height: 500px;
    background-image: url("images\top-banner.png");
    background-repeat: no-repeat;
}
h1{
    font-size: 40px;
}
.name-heighlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;;
}
.link-btn{
    text-decoration: none;
    background-color: #ff4500;
    background-image: linear-gradient(45deg, #1100ff,#ff4500);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.dream-area{
    height: 500px;
    background-repeat: no-repeat;
    background-image: url("images/dream-bg.png");
    background-position: right;
}
.dream-mark{
    margin-top: 80PX;
}
.expreance-ariea{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 150px;
}
.expreance-ariea .ex{
    margin-left: 4%;

}
.shadow-experi{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 60%;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #1100ff,#ff4500);
    border-image-slice: 1;
}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #f60656,#15e453);
    border-image-slice: 1;
}
footer{
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}